---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-initdb
data:
  mysql-schema.sql: |
    /*
     * Copyright 1999-2018 Alibaba Group Holding Ltd.
     * Licensed under the Apache License, Version 2.0
     */

    CREATE TABLE `config_info` (
        `id` bigint(20) NOT NULL AUTO_INCREMENT COMMENT 'id',
        `data_id` varchar(255) NOT NULL COMMENT 'data_id',
        `group_id` varchar(128) DEFAULT NULL COMMENT 'group_id',
        `content` longtext NOT NULL COMMENT 'content',
        `md5` varchar(32) DEFAULT NULL COMMENT 'md5',
        `gmt_create` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
        `gmt_modified` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
        `src_user` text,
        `src_ip` varchar(50) DEFAULT NULL,
        `app_name` varchar(128) DEFAULT NULL,
        `tenant_id` varchar(128) DEFAULT '',
        `c_desc` varchar(256) DEFAULT NULL,
        `c_use` varchar(64) DEFAULT NULL,
        `effect` varchar(64) DEFAULT NULL,
        `type` varchar(64) DEFAULT NULL,
        `c_schema` text,
        `encrypted_data_key` varchar(1024) NOT NULL DEFAULT '',
        PRIMARY KEY (`id`),
        UNIQUE KEY `uk_configinfo_datagrouptenant` (`data_id`,`group_id`,`tenant_id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

    CREATE TABLE `config_info_gray` (
        `id` bigint unsigned NOT NULL AUTO_INCREMENT,
        `data_id` varchar(255) NOT NULL,
        `group_id` varchar(128) NOT NULL,
        `content` longtext NOT NULL,
        `md5` varchar(32) DEFAULT NULL,
        `src_user` text,
        `src_ip` varchar(100) DEFAULT NULL,
        `gmt_create` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
        `gmt_modified` datetime(3) NOT NULL DEFAULT CURRENT_TIMESTAMP(3),
        `app_name` varchar(128) DEFAULT NULL,
        `tenant_id` varchar(128) DEFAULT '',
        `gray_name` varchar(128) NOT NULL,
        `gray_rule` text NOT NULL,
        `encrypted_data_key` varchar(256) NOT NULL DEFAULT '',
        PRIMARY KEY (`id`),
        UNIQUE KEY `uk_configinfogray_datagrouptenantgray` (`data_id`,`group_id`,`tenant_id`,`gray_name`),
        KEY `idx_dataid_gmt_modified` (`data_id`,`gmt_modified`),
        KEY `idx_gmt_modified` (`gmt_modified`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8;

    CREATE TABLE `config_tags_relation` (
        `id` bigint(20) NOT NULL,
        `tag_name` varchar(128) NOT NULL,
        `tag_type` varchar(64) DEFAULT NULL,
        `data_id` varchar(255) NOT NULL,
        `group_id` varchar(128) NOT NULL,
        `tenant_id` varchar(128) DEFAULT '',
        `nid` bigint(20) NOT NULL AUTO_INCREMENT,
        PRIMARY KEY (`nid`),
        UNIQUE KEY `uk_configtagrelation_configidtag` (`id`,`tag_name`,`tag_type`),
        KEY `idx_tenant_id` (`tenant_id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

    CREATE TABLE `group_capacity` (
        `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
        `group_id` varchar(128) NOT NULL DEFAULT '',
        `quota` int(10) unsigned NOT NULL DEFAULT '0',
        `usage` int(10) unsigned NOT NULL DEFAULT '0',
        `max_size` int(10) unsigned NOT NULL DEFAULT '0',
        `max_aggr_count` int(10) unsigned NOT NULL DEFAULT '0',
        `max_aggr_size` int(10) unsigned NOT NULL DEFAULT '0',
        `max_history_count` int(10) unsigned NOT NULL DEFAULT '0',
        `gmt_create` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
        `gmt_modified` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
        PRIMARY KEY (`id`),
        UNIQUE KEY `uk_group_id` (`group_id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

    CREATE TABLE `his_config_info` (
        `id` bigint(20) unsigned NOT NULL,
        `nid` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
        `data_id` varchar(255) NOT NULL,
        `group_id` varchar(128) NOT NULL,
        `app_name` varchar(128) DEFAULT NULL,
        `content` longtext NOT NULL,
        `md5` varchar(32) DEFAULT NULL,
        `gmt_create` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
        `gmt_modified` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
        `src_user` text,
        `src_ip` varchar(50) DEFAULT NULL,
        `op_type` char(10) DEFAULT NULL,
        `tenant_id` varchar(128) DEFAULT '',
        `encrypted_data_key` varchar(1024) NOT NULL DEFAULT '',
        `publish_type` varchar(50) DEFAULT 'formal',
        `gray_name` varchar(50) DEFAULT NULL,
        `ext_info` longtext DEFAULT NULL,
        PRIMARY KEY (`nid`),
        KEY `idx_gmt_create` (`gmt_create`),
        KEY `idx_gmt_modified` (`gmt_modified`),
        KEY `idx_did` (`data_id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

    CREATE TABLE `tenant_capacity` (
        `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
        `tenant_id` varchar(128) NOT NULL DEFAULT '',
        `quota` int(10) unsigned NOT NULL DEFAULT '0',
        `usage` int(10) unsigned NOT NULL DEFAULT '0',
        `max_size` int(10) unsigned NOT NULL DEFAULT '0',
        `max_aggr_count` int(10) unsigned NOT NULL DEFAULT '0',
        `max_aggr_size` int(10) unsigned NOT NULL DEFAULT '0',
        `max_history_count` int(10) unsigned NOT NULL DEFAULT '0',
        `gmt_create` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
        `gmt_modified` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
        PRIMARY KEY (`id`),
        UNIQUE KEY `uk_tenant_id` (`tenant_id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

    CREATE TABLE `tenant_info` (
        `id` bigint(20) NOT NULL AUTO_INCREMENT,
        `kp` varchar(128) NOT NULL,
        `tenant_id` varchar(128) DEFAULT '',
        `tenant_name` varchar(128) DEFAULT '',
        `tenant_desc` varchar(256) DEFAULT NULL,
        `create_source` varchar(32) DEFAULT NULL,
        `gmt_create` bigint(20) NOT NULL,
        `gmt_modified` bigint(20) NOT NULL,
        PRIMARY KEY (`id`),
        UNIQUE KEY `uk_tenant_info_kptenantid` (`kp`,`tenant_id`),
        KEY `idx_tenant_id` (`tenant_id`)
    ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

    CREATE TABLE `users` (
        `username` varchar(50) NOT NULL PRIMARY KEY,
        `password` varchar(500) NOT NULL,
        `enabled` boolean NOT NULL
    );

    CREATE TABLE `roles` (
        `username` varchar(50) NOT NULL,
        `role` varchar(50) NOT NULL,
        UNIQUE INDEX `idx_user_role` (`username` ASC, `role` ASC) USING BTREE
    );

    CREATE TABLE `permissions` (
        `role` varchar(50) NOT NULL,
        `resource` varchar(128) NOT NULL,
        `action` varchar(8) NOT NULL,
        UNIQUE INDEX `uk_role_permission` (`role`,`resource`,`action`) USING BTREE
    );
---
apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  ports:
    - port: 3306
      targetPort: 3306
  selector:
    app: mysql
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0.30
          ports:
            - containerPort: 3306
          args:
            - "--character-set-server=utf8mb4"
            - "--collation-server=utf8mb4_unicode_ci"
            - "--default-authentication-plugin=mysql_native_password"
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "root"
            - name: MYSQL_DATABASE
              value: "nacos_devtest"
            - name: MYSQL_USER
              value: "nacos"
            - name: MYSQL_PASSWORD
              value: "nacos"
          volumeMounts:
            - name: mysql-initdb
              mountPath: /docker-entrypoint-initdb.d
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
      volumes:
        - name: mysql-initdb
          configMap:
            name: mysql-initdb
